/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/gconf/Makefile
/gconf/Makefile.in
/glade/Makefile
/glade/Makefile.in
/install-sh
/missing
/src/Makefile
/src/Makefile.in
/src/eek
/src/eekmarshalers.c
/src/eekmarshalers.h
/src/eek-uef2wav
/src/eek-file2uef
/stamp-h1
/compile
/INSTALL
*.o
.deps
